@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(36, 99, 93);
    height: 100vh;
}

main {
    position: relative;
    width: 98vw;
    height: 98vh;
}

section {
    position: absolute;
    width: 368px;
    height: 768px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    
}

div#imagem {
    display: block;
    width: 368px;
    height: 300px;
    background-image: url(../imagens/pexels-ryutaro-tsukata-6249458.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    
}

div#container {
    display: block;
    margin: 0;
    background-color: white;
    width: 368px;
    height: 700px;
    
}

div.campo {
    display: flex;
    justify-content: flex-start;
    background-color: #2E8F9C;
    margin: 15px;
    padding: 3px;
    border-radius: 20px;
    overflow: hidden;
}

span {
    padding-right: 10px;
    color: white;
    font-size: 2em;
    transform: translate(10%, 20%);
}

div.campo > input {
    border: none;
    padding: 10px;
    border-radius: 20px;
    width: calc(100% - 30px)
}


h1 {
    font-weight: bolder;
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
}

p#description {
    font-size: 0.9em;
    text-indent: 15px;
    padding: 5px 15px 25px 15px;
    text-align: justify;
}



input#entrar {
    width: 328px;
    height: 40px;
    background-color:  rgb(54, 180, 153);
    color: white;
    border: none;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-left: 17px;
}

input#entrar:hover {
    background-color:  rgb(27, 92, 78);
}

input#forgot {
    width: 328px;
    height: 40px;
    color: white;
    border: 2px solid rgb(54, 180, 153);
    background-color: white;
    color: rgb(54, 180, 153);
    border-radius: 15px;
    margin-bottom: 15px;
    margin-left: 17px;
}
input#forgot:hover {
    background-color:  rgb(172, 172, 172);
}