@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    
}

header > h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 50px;
    font-size: 7vw;
}
header > p {
    padding-bottom: 50px;
    
}

section {
    height:fit-content;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    margin-bottom: 0px;
}

section.normal {
    background-color: white;
}

article {
    width: 30vh;
    font-family: cursive;
    font-size: 3.5vw;
    line-height: 2em;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 2vh;
}

section.image {
    background-attachment: fixed;
    box-shadow: inset 1px -1px 17px 0px;
}

section.image > article {
    color: white;
    background-color: rgba(0, 0, 0, 0.39);
    padding: 5px;
    border-radius: 2px;
    text-shadow: -1px 1px 1px black;
}

section.image#img1 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

section.image#img2 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}
