@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to bottom,rgb(36, 99, 93), rgb(88, 46, 122));
    }

    section {
        width: 90vw;
        height: 600px;
    }
    
    div#imagem {
        display: inline-block;
        width: 30vw;
        height: 600px;
    }

    div#container {
        float: right;
    

        background-color: white;
        width: 60vw;
        height: 600px;
        box-shadow: inset 0 1px 3px 0px black;

    }

    h1 {
        text-align: justify;
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 2em;
        margin-left: 50px;
    }

    
    p#description {
        font-size: 1em;
        margin-right: 25px;
        margin-bottom: 20px;
        margin-left: 15px;
    }

    div.campo {
        width: 34vw;
   }

   input#entrar {
    margin-top: 15px;
    margin-bottom: 15px;
}

}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to bottom,rgb(36, 99, 93), rgb(88, 46, 122));
    }

    section {
        width: 90vw;
        height: 600px;
    }
    
    div#imagem {
        display: inline-block;
        width: 40vw;
        height: 600px;
    }

    div#container {
        float: left;
    

        background-color: white;
        width: 50vw;
        height: 600px;
        box-shadow: inset 0 1px 3px 0px black;

    }

    h1 {
        text-align: justify;
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 2em;
        margin-left: 50px;
    }
    
    p#description {
        font-size: 1em;
        margin-right: 25px;
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 90px;
    }

    div.campo {
        width: 34vw;
        margin-left: 50px;
        margin-bottom: 25px;
   }

    input#entrar {
        margin-top: 20px;
        margin-left: 50px;
    }

    input#forgot {
        margin-left: 50px;

    }

}

